<%- include header %>
  <form method="post">
      name:<input type="text" name="product_name">
      price:<input type="text" name="price">
      <input type="submit">
  </form>
<%- include footer %>
